{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "jsx-no-bind": 0,
    "react/jsx-no-bind": 0,
    "prefer-template": 1,
    "no-restricted-syntax": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "react/forbid-prop-types": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "react/require-default-props": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
